In [7]:
# to remove last object from list
list=[2,33,222,14,25]
list.pop()#remove last object
print(list)
print(list[-1])#return last object

[2, 33, 222, 14]
14

In [10]:
#python function to find  largest number, smallest number and sum of all from a list
a=[22,55,21,42,47,65,85]
print(max(a))#largest number
print(min(a))#smallest number
print(sum(a))#sum

85
21
337

In [12]:
#program to check list is empty or not
a=("hello")
if a == ():
    print("list is empty")
    
else:
    print("list is not empty")

list is not empty

In [2]:
#Write a Python program to select an item randomly from a list.  
a=["shikha","shruti","vishal","pooja","seema"]
print(a[2])#randomly selecting item using indexing

vishal

In [27]:
#Write a Python program to split a list into different variables.
a=["india","china","delhi","america","nepal","punjab"]
var1=a[1:2]
var2=a[2:4]
var3=a[4:5]
print( var1)
print(var2)
print(var3)

['china']
['delhi', 'america']
['nepal']

In [13]:
#tuple with different datatype
tuple=("apple","hello","banana",10,20,30.5)
print(tuple)

('apple', 'hello', 'banana', 10, 20, 30.5)

In [14]:
#tuple with number
tuple=(20,10.2,50,60,40)
print(tuple)

(20, 10.2, 50, 60, 40)

In [15]:
#convert a tuple to a string
a=("apple","banana","mango","lichi")
print(a)

('apple', 'banana', 'mango', 'lichi')

In [17]:
# to find length of tuple
a=("apple","banana","mango","lichi")
print(len(a))

4

In [6]:
#to convert a list to tuple
a=["mango","apple","banana","orange","papaya"]
y=tuple(a)#list into tuple
print(y)

('mango', 'apple', 'banana', 'orange', 'papaya')

In [27]:
#program to reverse a tuple
a=("delhi","chennai","mumbai","kolkata")
print(a[::-1])#reversing list using negative indexing

('kolkata', 'mumbai', 'chennai', 'delhi')

In [3]:
#Write a Python program to replace last value of tuples in a list. 
a=("delhi","kolkata","chennai","bengaluru","punjab")
y=list(a)#convert tuple into list
y[-1]="kerala"
a=tuple(y)#list into tuple
print(a)

('delhi', 'kolkata', 'chennai', 'bengaluru', 'kerala')

In [ ]:
#calculate the area of parallelogram
base=int(input("enter the value of base"))
height=int(input("enter the value of height"))
a=base*height
print(a)

In [7]:
#calculate surface area and volume of cylinder
r=int(input("enter the value of r"))
h=int(input("enter the value of h"))
volume=3.14*r*r*h
print(volume)
surface_area=3.14*r*h*(r+h)
print(surface_area)

enter the value of r21
enter the value of h5
6923.7
8572.199999999999

In [36]:
#def merge(d1,d2):
d1={'a':100, 'b':200, 'c':300}
d2={'a':300, 'b':200, 'd':400}
d3= (counter(d1)+counter(d2))
print(d3)

NameError: name 'counter' is not defined

In [2]:
#Write a Python function to check whether a number is in a given range 
def test_range(num):
    if num in range(20,30):
        print("number is in a range")
    else:
        print("number is not in a range")
test_range(45)

number is not in a range

In [5]:
#Write a Python script to concatenate following dictionaries to create a new one.
a={"id":1,"name":"shikha"}
a.update({"gender":"female","last_name":"bansal"})
print(a)

{'id': 1, 'name': 'shikha', 'gender': 'female', 'last_name': 'bansal'}

In [9]:
#Write a Python program to remove an empty tuple(s) from a list of tuples. 
a=[("apple","mango"),(),("hello"),("abc","def")]
a.remove(())
print(a)

[('apple', 'mango'), 'hello', ('abc', 'def')]

In [1]:
"""Write a Python program
to generate and print a list of first and 
last 5 elements where the values are square of numbers between 1 and 30. """
a=list()
for i in range (1,30):
    a.append(i**2)
print(a[:5])
print(a[-5:])

[1, 4, 9, 16, 25]
[625, 676, 729, 784, 841]