In [7]:
# to remove last object from list
list=[2,33,222,14,25]
list.pop()#remove last object
print(list)
print(list[-1])#return last object

[2, 33, 222, 14]
14

In [4]:
#Write a Python program to map two lists into a dictionary  
keys=[1,2,3]
values=["one","two","three"]
add_dict = dict(zip(keys,values))
print(add_dict)

{1: 'one', 2: 'two', 3: 'three'}

In [16]:
#Write a Python program to combine two dictionary adding values for common keys.
from collections import Counter
d1 = {'a': 100, 'b': 200, 'c':300} 
d2 = {'a': 300, 'b': 200,'d':400}
dict= Counter(d1) + Counter(d2)
print(dict)

Counter({'a': 400, 'b': 400, 'd': 400, 'c': 300})

In [13]:
#Write a Python program to find the highest 3 values in a dictionary 
from heapq import nlargest
m_dict={"a":200, "b":2, "c":500,"d":6}
three_largest = nlargest(3, m_dict, key= m_dict.get)
print(three_largest)

['c', 'a', 'd']

In [26]:
#Write a Python program to combine values in python list of dictionaries.
d=[{'item': 'item1', 'amount': 400}, {'item': 'item2', 'amount':  300}, {'item': 'item1', 'amount': 750}]
d1={}
for i in d:
    d1.update(i)
print(d1)

{'item': 'item1', 'amount': 750}

In [10]:
#python function to find  largest number, smallest number and sum of all from a list
a=[22,55,21,42,47,65,85]
print(max(a))#largest number
print(min(a))#smallest number
print(sum(a))#sum

85
21
337

In [12]:
#program to check list is empty or not
a=("hello")
if a == ():
    print("list is empty")
    
else:
    print("list is not empty")

list is not empty

In [2]:
#Write a Python program to select an item randomly from a list.  
a=["shikha","shruti","vishal","pooja","seema"]
print(a[2])#randomly selecting item using indexing

vishal

In [27]:
#Write a Python program to split a list into different variables.
a=["india","china","delhi","america","nepal","punjab"]
var1=a[1:2]
var2=a[2:4]
var3=a[4:5]
print( var1)
print(var2)
print(var3)

['china']
['delhi', 'america']
['nepal']

In [13]:
#tuple with different datatype
tuple=("apple","hello","banana",10,20,30.5)
print(tuple)

('apple', 'hello', 'banana', 10, 20, 30.5)

In [14]:
#tuple with number
tuple=(20,10.2,50,60,40)
print(tuple)

(20, 10.2, 50, 60, 40)

In [15]:
#convert a tuple to a string
a=("apple","banana","mango","lichi")
print(a)

('apple', 'banana', 'mango', 'lichi')

In [17]:
# to find length of tuple
a=("apple","banana","mango","lichi")
print(len(a))

4

In [6]:
#to convert a list to tuple
a=["mango","apple","banana","orange","papaya"]
y=tuple(a)#list into tuple
print(y)

('mango', 'apple', 'banana', 'orange', 'papaya')

In [27]:
#program to reverse a tuple
a=("delhi","chennai","mumbai","kolkata")
print(a[::-1])#reversing list using negative indexing

('kolkata', 'mumbai', 'chennai', 'delhi')

In [3]:
#Write a Python program to replace last value of tuples in a list. 
a=("delhi","kolkata","chennai","bengaluru","punjab")
y=list(a)#convert tuple into list
y[-1]="kerala"
a=tuple(y)#list into tuple
print(a)

('delhi', 'kolkata', 'chennai', 'bengaluru', 'kerala')

In [2]:
#calculate the area of parallelogram
base=int(input("enter the value of base"))
height=int(input("enter the value of height"))
a=base*height
print(a)

enter the value of base20
enter the value of height2
40

In [7]:
#calculate surface area and volume of cylinder
r=int(input("enter the value of r"))
h=int(input("enter the value of h"))
volume=3.14*r*r*h
print(volume)
surface_area=3.14*r*h*(r+h)
print(surface_area)

enter the value of r21
enter the value of h5
6923.7
8572.199999999999

In [2]:
#Write a Python function to check whether a number is in a given range 
def test_range(num):
    if num in range(20,30):
        print("number is in a range")
    else:
        print("number is not in a range")
test_range(45)

number is not in a range

In [5]:
#Write a Python script to concatenate following dictionaries to create a new one.
a={"id":1,"name":"shikha"}
a.update({"gender":"female","last_name":"bansal"})
print(a)

{'id': 1, 'name': 'shikha', 'gender': 'female', 'last_name': 'bansal'}

In [9]:
#Write a Python program to remove an empty tuple(s) from a list of tuples. 
a=[("apple","mango"),(),("hello"),("abc","def")]
a.remove(())
print(a)

[('apple', 'mango'), 'hello', ('abc', 'def')]

In [1]:
"""Write a Python program
to generate and print a list of first and 
last 5 elements where the values are square of numbers between 1 and 30. """
a=list()
for i in range (1,30):
    a.append(i**2)
print(a[:5])
print(a[-5:])

[1, 4, 9, 16, 25]
[625, 676, 729, 784, 841]

In [2]:
""""Write a Python program to count the number of strings
where the string length is 2 or more and the first and last character are same from a given list of strings. """
def match_word1(words):
    char=0
    for word in words:
        if len(word)>1 and word[0] == word[-1]:
            char+=1
        return char
    print(match_word1(["abc","xyz","aba","xyz"]))

In [14]:
#Write a Python program to find the second smallest number in a list.
def find_len(list1):
    length = len(list1)
    list1.sort()
    print("second smallest number:", list1[1])
list1=[5,3,5,1,8,3,9]
find_len(list1)

second smallest number: 3

In [20]:
#Write a Python program to convert a list of tuples into a dictionary. 
a=[("india","delhi"),("china","belgium"),("nepal","kathmandu")]
print(dict(a))

{'india': 'delhi', 'china': 'belgium', 'nepal': 'kathmandu'}

In [17]:
#Write a Python program to get unique values from a list  
def unique_list(l):
    x=[]
    for a in l:
        if a not in x:
            x.append(a)
            return x 
print (unique_list([1,2,3,3,3,4,5]))

[1]

In [4]:
#Write a Python program to unzip a list of tuples into individual lists.  
list1=[(2,1),(3,4),(4,5)]
print(list(zip(*list1)))

[(2, 3, 4), (1, 4, 5)]

In [2]:
#Write a Python program to calculate the area of a trapezoid 
def area_of_trapezoid(base1,base2,height):
    #area of trapezoid
    area =(base1+base2)*height/2 
    print(area)
area_of_trapezoid(20,30,40)

1000.0

In [5]:
#Write a Python program to convert degree to radian 
degree=float(input("enter the degree"))
pi=22/7
radian=degree*(pi/180)
print(radian)

enter the degree20
0.3492063492063492

In [15]:
#Write a Python function to check whether a number is perfect or not.
def perfect_number(a):
    sum =0
    for i in range(1,a):
        if a % i ==0:
            sum+=i
    return sum == a
print(perfect_number(4))

False

In [14]:
#Write a Python script to sort (ascending and descending) a dictionary by value
import operator
d={1:2,3:4,4:5}
sort= sorted(d.items(),key=operator.itemgetter(1))
print("ascending : ", sort)
sort= dict(sorted(d.items(),key=operator.itemgetter(1),reverse= True))
print("descending :", sort)

ascending :  [(1, 2), (3, 4), (4, 5)]
descending : {4: 5, 3: 4, 1: 2}

In [15]:
#Write a Python program to print all unique values in a dictionary.
d={"india":"delhi","india":"punjab","nepal":"kathmandu","china":"shanghai"}
unique_value=set(d)
print(unique_value)

{'china', 'india', 'nepal'}

In [18]:
#Write a Python function to calculate the factorial of a number (a nonnegative integer)  
def factorial(num):
    if num<0:
        print("factorial of a number does not exist")
    elif num==0:
        print("factorial of 0 is 1")
    else:
        for i in range(1,num+1):
            factorial=num*i
            print("factorial of num is", factorial)
factorial(0)

factorial of 0 is 1

In [5]:
#Write a Python function that checks whether a passed string is palindrome or not 
def palindrome(a):
    if a == a[::-1]:
        print("string is palindrome")
    else:
        print("string is not palindrome")
a= str(input("enter the value of a"))
palindrome(a)

enter the value of aeye
string is palindrome

In [19]:
#Write a Python program to returns sum of all divisors of a number 
num = int(input("Enter the Number"))
divisor = [1]
for i in range(2, num):
    if (num % i)==0:
        divisor.append(i)
print("Sum of All Divisors :",sum(divisor))

Enter the Number20
Sum of All Divisors : 22

In [20]:
#Write a Python program to find the maximum and minimum numbers from the specified decimal numbers.
a=23.45,67.23,1.45,89.67,0.34
print(max(a))
print(min(a))

89.67
0.34

In [1]:
#Write a Python script to print a dictionary where the keys are numbers between 1 and 15.  
d=dict()
for x in range(1,16):
    d[x]=x**2
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}